header{
    background-color: blueviolet;
}
.banner {
    width: 100%;
}

.container{
    width: 80%;
   
    background-color:brown ;
    margin: auto;
}

footer{
    background-color: yellowgreen;
    width: 100%
}